

data
data/*
./data/*

testimages
testimages/*
./testimages/*

mve
mve/*
./mve/*

node1
node1/*
./node1/*

node2
node2/*
./node2/*

node3
node3/*
./node3/*

*.pyc
*.json

shark1/
shark1/*
./shark1/*


